---
import { format } from "date-fns";
import { auth } from "../lib/auth";
import { actions } from "astro:actions";
import type { Post } from "@/db/schema";
import AppLayout from "@/layouts/AppLayout.astro";

const authDetails = await auth.api.getSession({
    headers: Astro.request.headers,
});

if (!authDetails) {
    return Astro.redirect("/join");
}

const { data, error } = await Astro.callAction(actions.posts.getPosts, {
    userId: authDetails.user.id,
});

const updatedPosts: Post[] = [];

if (data?.success) {
    for (const post of data.postData) {
        const media = post.media as string[];
        const postMediaURLs = await Promise.all(
            media.map(async (fileName) => {
                const { data: URLsData, error } = await Astro.callAction(
                    actions.media.getSignedUrl,
                    { key: fileName },
                );
                return URLsData?.success ? URLsData.signedUrl : fileName;
            }),
        );

        updatedPosts.push({ ...post, media: postMediaURLs });
    }
}

const timeline = updatedPosts.reduce(
    (acc, post) => {
        const date = post.createdAt.split(" ")[0]; // Extract the date portion
        if (!acc[date]) {
            acc[date] = [];
        }
        acc[date].push(post);
        return acc;
    },
    {} as Record<string, typeof updatedPosts>,
);

const timelineEntries = Object.entries(timeline).map(([date, posts]) => ({
    createdAt: date,
    posts,
}));
---

<AppLayout title="Home">
    <section class="py-4 pl-4 sm:pl-0 mx-auto w-full max-w-screen-lg overflow-hidden">
        {
            timelineEntries.map((entry) => (
                <div class="first:pt-0 py-8 sm:py-12 lg:border-t first:border-t-transparent border-t-gray-200">
                    <h1 class="lg:ml-[4.86rem] text-xl text-gray-900 font-medium">
                        {format(entry.createdAt, "PPPP")}
                    </h1>

                    {entry.posts.map((post) => (
                        <div class="mt-4 flex flex-col lg:flex-row lg:gap-4">
                            <span class="w-16 lg:mt-[1.7rem] text-xs text-gray-600 lg:text-end">
                                {format(post.createdAt, "p")}
                            </span>

                            <div>
                                <h2 class="text-base text-gray-900 font-medium">
                                    {String(post.title).charAt(0).toUpperCase() +String(post.title).slice(1)}
                                </h2>
                                <p class="text-sm text-gray-600">{post.description}</p>

                                <div class="mt-1.5 w-full flex items-center gap-1.5 lg:gap-2.5 overflow-x-auto">
                                    {(post.media as string[]).map((media) => (
                                        <img
                                            class="w-96 md:w-72 xl:w-80 last:mr-4 aspect-square object-cover object-center rounded-lg lg:rounded-xl"
                                            src={media}
                                            alt={`${post.title} media`}
                                        />
                                    ))}
                                </div>
                            </div>
                        </div>
                    ))}
                </div>
            ))
        }
    </section>
</AppLayout>
