---
import { auth } from "../lib/auth";
import SignOutButton from "../components/sign-out";
import RootLayout from "../layouts/RootLayout.astro";

const authDetails = await auth.api.getSession({
	headers: Astro.request.headers,
});

if (!authDetails) {
	return Astro.redirect("/join");
}

const { user } = authDetails;
---

<RootLayout title="Home">

    <section class="mt-4 mx-auto w-full max-w-sm min-h-screen">

        <div>
            <div class="mt-1 flex items-center gap-2">
                <img class="size-5 sm:size-7 rounded-full" src={user.image} alt={`${user.name} photo`}>
                <h1 class="text-2xl text-gray-950 font-serif font-medium">Hello, {user.name}.</h1>
            </div>
    
            <SignOutButton client:load />
        </div>

    </section>
    
</RootLayout>