---
import { actions } from "astro:actions";
import { auth } from "../lib/auth";
import AppLayout from "@/layouts/AppLayout.astro";

const authDetails = await auth.api.getSession({
    headers: Astro.request.headers,
});

if (!authDetails) {
    return Astro.redirect("/join");
}

const { data: posts, error } = await Astro.callAction(actions.posts.getPosts, {
    userId: authDetails.user.id,
});
---

<AppLayout title="Home">
    <section class="mt-4">
        <pre>
            {JSON.stringify(posts, null, 2)}
        </pre>
    </section>

</AppLayout>
