---
import { auth } from "../lib/auth";
import AppLayout from "@/layouts/AppLayout.astro"

const authDetails = await auth.api.getSession({
	headers: Astro.request.headers,
});

if (!authDetails) {
	return Astro.redirect("/join");
}
---

<AppLayout title="Home">

    <section class="mt-4 mx-auto w-full max-w-sm min-h-screen">


    </section>
    
</AppLayout>