---
import JoinWaitlistForm from "@/components/join-waitlist-form";
import Logo from "../assets/logo.svg";
import RootLayout from "../layouts/RootLayout.astro";

const { user, session } = Astro.locals;

if (user) {
	return Astro.redirect("/home");
}
---

<RootLayout>
	<section class="mx-auto w-full min-h-screen bg-gradient-to-br from-[#f8f9c7]/80 to-[#f0cd97]/80">
		<div class="pt-28 mx-auto w-full max-w-4xl flex flex-col items-center justify-center">
			<Logo width={40} height={40} fill="currentColor" />
			<h1 class="mt-4 text-4xl font-medium font-serif text-center text-balance">
				The space for your day dreams and memories
			</h1>
			<p class="mt-1 text-sm text-gray-600 text-center text-balance">
				Save anything you want - journal your day with a photo gallery
				built to record your memories
			</p>

			<!-- <div class="mt-4 sm:mt-6 flex items-center justify-center gap-3">
				<a href="/join" class="px-4 py-1.5 text-sm text-white bg-gray-900 hover:bg-orange-600 hover:scale-110 rounded-full transition-all duration-300 ease-in-out">
					Join Now
				</a>
				<a href="/sign-in" class="px-4 py-1.5 text-sm font-medium text-gray-900 hover:text-orange-600 hover:bg-orange-200/50 border border-gray-900/30 hover:border-orange-300  hover:scale-110 rounded-full transition-all duration-300 ease-in-out">
					Sign In
				</a>
			</div> -->

			<JoinWaitlistForm client:load />

			<div class="px-4 xl:px-0 mt-8 sm:mt-10 grid grid-rows-1 sm:grid-cols-3 gap-10 sm:gap-4">
				<div class="">
					<h2 class="text-lg font-medium text-gray-900">Photo Album</h2>
					<p class="pr-28 sm:pr-0 text-sm text-gray-600 sm:text-balance">A picture is worth a thousand words, sometimes its worth a million</p>
					<img class="mt-2 w-full aspect-square object-cover object-bottom rounded-lg" src="mirror-selfie.jpg" alt="Mirror selfie while in bed" />
				</div>

				<div class="">
					<h2 class="text-lg font-medium text-gray-900">Reels Cassette</h2>
					<p class="pr-28 sm:pr-0 text-sm text-gray-600 sm:text-balance">Because no other form of art passes our conscience in the way film does</p>
					<img class="mt-2 w-full aspect-square object-cover object-center rounded-lg" src="family-and-car.jpg" alt="Just chilling bed with my airpods max on and macbook" />
				</div>

				<div class="">
					<h2 class="text-lg font-medium text-gray-900">Family and Friends</h2>
					<p class="pr-28 sm:pr-0 text-sm text-gray-600 sm:text-balance">For the random hangouts that turned out to be crazy adventures</p>
					<img class="mt-2 w-full aspect-square object-cover object-center rounded-lg" src="friends-night-adventure.jpg" alt="Running in the highway with my friends at night" />
				</div>

			</div>

			<footer class="mt-2.5 px-4 xl:px-0 pb-2.5 mx-auto w-full max-w-4xl sm:fixed sm:bottom-0 flex items-center justify-between">
				<a href="https://github.com/iann-mathaiya/timeless/blob/master/LICENSE" target="_blank" class="group flex items-center gap-1 text-sm text-gray-600 hover:text-gray-900">
					&copy; 
					<span class="underline underline-offset-2 decoration-[1.5px] decoration-transparent group-hover:decoration-orange-600">{new Date().getFullYear()}</span>
				</a>

				<p class="font-serif italic text-lg">Alter the timeline.</p>

				<a href="https://github.com/iann-mathaiya/timeless" target="_blank">
					<svg xmlns="http://www.w3.org/2000/svg" class="w-6 fill-gray-600 hover:fill-gray-900" viewBox="0 0 24 24" fill="currentColor">
						<path d="M12.001 2C6.47598 2 2.00098 6.475 2.00098 12C2.00098 16.425 4.86348 20.1625 8.83848 21.4875C9.33848 21.575 9.52598 21.275 9.52598 21.0125C9.52598 20.775 9.51348 19.9875 9.51348 19.15C7.00098 19.6125 6.35098 18.5375 6.15098 17.975C6.03848 17.6875 5.55098 16.8 5.12598 16.5625C4.77598 16.375 4.27598 15.9125 5.11348 15.9C5.90098 15.8875 6.46348 16.625 6.65098 16.925C7.55098 18.4375 8.98848 18.0125 9.56348 17.75C9.65098 17.1 9.91348 16.6625 10.201 16.4125C7.97598 16.1625 5.65098 15.3 5.65098 11.475C5.65098 10.3875 6.03848 9.4875 6.67598 8.7875C6.57598 8.5375 6.22598 7.5125 6.77598 6.1375C6.77598 6.1375 7.61348 5.875 9.52598 7.1625C10.326 6.9375 11.176 6.825 12.026 6.825C12.876 6.825 13.726 6.9375 14.526 7.1625C16.4385 5.8625 17.276 6.1375 17.276 6.1375C17.826 7.5125 17.476 8.5375 17.376 8.7875C18.0135 9.4875 18.401 10.375 18.401 11.475C18.401 15.3125 16.0635 16.1625 13.8385 16.4125C14.201 16.725 14.5135 17.325 14.5135 18.2625C14.5135 19.6 14.501 20.675 14.501 21.0125C14.501 21.275 14.6885 21.5875 15.1885 21.4875C19.259 20.1133 21.9999 16.2963 22.001 12C22.001 6.475 17.526 2 12.001 2Z" />
					</svg>
				</a>
			</footer>
		</div>
	</section>
</RootLayout>
