---
import RootLayout from "../layouts/RootLayout.astro";
import { auth } from "../lib/auth"

const authDetails = await auth.api.getSession({
  headers: Astro.request.headers,
});

if (authDetails) {
	return Astro.redirect('/home')
}
---

<RootLayout>
	<a href="/join" class="text-sm text-gray-600 hover:text-gray-950">Join</a>
</RootLayout>
