---
import Logo from "../assets/logo.svg";
import GoogleLogo from "../assets/google.svg";
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout title="Join">

    <section class="mx-auto w-full max-w-sm min-h-screen">

        <div class="min-h-screen flex flex-col items-center justify-center gap-1">
            <Logo width={40} height={40} fill="currentColor" />

            <div class="text-center">
                <h1 class="text-lg text-gray-950 font-medium">Create an account</h1>
                <p class="text-sm text-gray-600">Adventure awaits, sign up and be timeless</p>
            </div>

            <form action="" class="mt-4 w-full">
                <button class="w-full h-8 flex items-center justify-center gap-2 text-white bg-gray-950 hover:bg-orange-600 rounded-lg transition-all duration-300 ease-in-out">
                    <GoogleLogo width={16} height={16} fill="currentColor" />
                    <span class="text-sm font-medium">
                        Sign up with Google
                    </span>
                </button>
            </form>
            
        </div>


    </section>
    
</RootLayout>